:root {
  --red-color: #ec1d24;
  --dark-color: #000;
  --light-color: #fff;
  --grey-color: #d9d9d9;

  --character-card-width: 189px;
  --character-card-height: 189px;

  --padding-container: 48px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

.corner::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 12px 12px;
    border-color: transparent transparent white transparent;
    transform: rotate(0deg);
    bottom: 0;
    right: 0;
}

a {
    display: block;
    text-decoration: none;
}