
.character-card {
  width: var(--character-card-width);
  height: auto;
}

.character-card__thumbnail {
  width: var(--character-card-width);
  height: var(--character-card-height);
}

.character-card__thumbnail img {
  width: var(--character-card-width);
  height: var(--character-card-height);
  object-fit: cover;
  object-position: left;
}

.character-card__break {
  width: 100%;
  height: 5px;
  background-color: var(--red-color);
}

.character-card__name {
  width: 100%;
  height: 56px;
  color: white;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  padding: 16px 16px 24px 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
  overflow: hidden;

  background: linear-gradient(
          var(--red-color),
          var(--red-color) 50%,
          var(--dark-color) 50%,
          var(--dark-color)
      )
      100% 100%;
  background-size: 100% 200%;
  transition: background 0.3s;
}

.character-card__name__icon {
  width: 12px;
  height: 12px;
}

.character-card:hover .favorite-button {
  background-color: var(--light-color);
}

@media (min-width: 540px) {
  .character-card:hover .character-card__name {
      background-position: 0 0;
  }
}
